<h1>Thank you for uploading, now share this with your friends.</h1>
<a name="fb_share" type="button_count" class="btn" target="_top" share_url="<%= APP_CONFIG['share'] %>" href="http://www.facebook.com/sharer.php?u=<%= APP_CONFIG['share'] %>" style="text-decoration: none;">SHARE</a>